{% extends 'base.html.twig' %}

{% block title %}Watch list
{% endblock %}

{% block body %}

	<h1 class="container  form2">Les telephones disponibles</h1>
	<div class="container mt-4 d-flex align-items-center flex-wrap align-content-between gap-3">

		{% for telephones in telephones %}

			<div class="card mb-3 bg-dark-subtle" style="">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="/uploads/photos/{{ telephones.imageTel }}" class="card-img-top" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title b">{{ telephones.nom }}</h5>
							<p class="card-text b">Auteur :
								{{ telephones.nom }}</p>
							<p class="card-text b">Prix de la location :
								{{ telephones.prix /100 }}
								€</p>
							<p class="card-text b">Si vous souhaitez emprunter un livre de notre bibliothéque ou avoir des informations complémentaires, veuillez cliquer sur le bouton ci-dessous</p>
							<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{telephones.id}}">
								Plus d'informations
							</button>

							<!-- Modal -->
							<div class="modal fade" id="exampleModal{{telephones.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h1 class="modal-title fs-5" id="exampleModalLabel">{{telephones.nom}}</h1>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<p class="card-text b">Auteur :
												{{ telephones.marque }}</p>
											<p class="card-text b">Editeur :
												{{ telephones.description }}</p>
											<p class="card-text b">Prix de la location :
												{{ telephones.prix /100 }}
												€</p>
											<p class="card-text b">Genre :
												{{ telephones.quantiteTelephone }}
											</p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
											<button type="button" class="btn btn-danger">Save changes</button>
										</div>
									</div>
								</div>
							</div>

						</div>

					</div>

				</div>

			</div>

		{% else %}
			<p>
				<td colspan="5">no records found</td>
			</p>
		{% endfor %}

	</div>

{% endblock %}