{% extends 'base.html.twig' %}

{% block title %}Watch list
{% endblock %}

{% block body %}

    <h1 class="form2 container">Les Produits disponibles</h1>
    <a href="{{ path('cart_index') }}" class="btn btn-dark container d-flex justify-content-end" style="max-width: 140px">Voir mon panier</a>
	
	<div class="container">
		<!-- Button trigger modal -->
		<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
			Filtres
		</button>

		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="exampleModalLabel">Filtres</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="d-flex justify-content-center">
							<form action="{{ path('app_produits_index') }}" method="get">
								<input type="text" name="nom" class="form-control mb-3" placeholder="Nom du produit">
								<select name="categories" class="form-control mb-3" style="max-width: 650px">
									<option value="">Toutes les catégories</option>
									{% for categorie in categories %}
										<option value="{{ categorie.id }}">{{ categorie }}</option>
									{% endfor %}
								</select>
								<button class="btn btn-outline-secondary me-5 shadow" type="submit">Filtrer</button>
								<a href="{{ path('app_produits_index') }}" class="btn shadow btn-outline-secondary">Remettre à 0</a>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="container grid gap-5 column-gap-3 mt-4 d-flex flex-wrap">

		{% for produits in produits %}

			<div class="card mb-3 shadow p-3 mb-2 bg-body-tertiary rounded" style="max-width: 624px;">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="/uploads/photos/{{ produits.image }}" class="card-img-top" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title b">{{ produits.nom }}</h5>
							<p class="card-text b">Marque :
								{{ produits.categories }}</p>
							<p class="card-text b">Prix :
								{{ produits.prix }}
								€</p>
							<p class="card-text b">En cas d'achat d'un produit de notre boutique, vous disposez d'une garantie* d'un an et vous avez également jusqu'à 14 jours pour nous renvoyer un produit si celui-ci ne vous convient pas.</p>
							{% if produits.stock == 0 %}
    							<p class="text-danger">Indisponible</p>
							{% endif %}
							
							<button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal{{produits.id}}">
								Plus d'informations
							</button>
							<div class="d-flex justify-content-end">
							<form method="post" action="{{ path('cart_add', {'id': produits.id}) }}">
    							<select name="quantity">
       								{% for i in 1..min(produits.stock, 12) %}
            							<option value="{{ i }}">{{ i }}</option>
        							{% endfor %}
    							</select>
    							<input type="submit" value="Ajouter au panier" class="btn btn-danger" {{ produits.stock == 0 ? 'disabled' : '' }}>
							</form>

							</div>

							<!-- Modal -->
							<div class="modal fade" id="exampleModal{{produits.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">
										<div class="modal-header">
											<h1 class="modal-title fs-5" id="exampleModalLabel">{{produits.nom}}</h1>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<p class="card-text b">
												<img src="/uploads/photos/{{ produits.image }}" class="card-img-top" alt="...">
												Marque :
												{{ produits.categories }}</p>
											<p class="card-text b">Description :
												{{ produits.description }}</p>
											<p class="card-text b">Prix :
												{{ produits.prix }}
												€</p>
										</div>
										<div class="modal-footer">
											<form method="post" action="{{ path('cart_add', {'id': produits.id}) }}">
    											<select name="quantity">
       												{% for i in 1..min(produits.stock, 12) %}
            											<option value="{{ i }}">{{ i }}</option>
        											{% endfor %}
    											</select>
    											<input type="submit" value="Ajouter au panier" class="btn btn-danger" {{ produits.stock == 0 ? 'disabled' : '' }}>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% else %}
			<p>
				<td colspan="5">no records found</td>
			</p>
		{% endfor %}

	<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr" dir="ltr">
  <head>
    <title>Mondial Relay Parcelshop Picker with Map</title>
    <!-- JQuery required (>1.6.4) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    
    <!-- Leaflet dependency is not required since it is loaded by the plugin -->
    <script src="//unpkg.com/leaflet/dist/leaflet.js"></script>
    <link rel="stylesheet" type="text/css" href="//unpkg.com/leaflet/dist/leaflet.css" />

    <!-- JS plugin for the Parcelshop Picker Widget MR using JQuery -->
    <script src="//widget.mondialrelay.com/parcelshop-picker/jquery.plugin.mondialrelay.parcelshoppicker.min.js"></script>
  </head>
  <body>
    <!-- HTML Element in which the Parcelshop Picker Widget is loaded -->
    <div id="Zone_Widget"></div>

    <!-- HTML element to display the parcelshop selected, for demo only. Should use hidden instead. -->
    <input type="text" id="Target_Widget" />
  </body>
</html>
{% endblock %}